.content {
  flex: 1;
  margin-left: 5vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  iframe {
    max-width: 100%;
  }

  img {
    height: auto !important;
    &:not(.icon):not(.page-heading-img) {
      border: 1px solid black;
    }
  }

  &.menu-fixed {
    margin-top: 72px;
  }

  .margin-left,
  .margin-right {
    flex: 1;
  }

  .margin-right {
    // background-image: url('../../imgs/montagne_roues.jpg');
    background-position: 70% -100px;
    background-repeat: no-repeat;
  }

  h1 {
    text-align: center;
    font-size: 2.5em;
    margin: 1em 0em;
  }

  h2 {
    border-bottom: 1px solid $menuBackgroundColor;
  }
  p {
    padding: 0.5em 2em;
  }

  ul {
    padding-left: 4em;
  }

  a {
    color: #039be5;
    text-decoration: none;
  }

  p {
    margin: 0;

    .icon {
      vertical-align: bottom;
    }
  }

  .page-heading-img-container {
    .page-heading-img {
      width: 100%;
      max-height: 500px;
      object-fit: cover;
    }
  }

  .page-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: $backgroundColor;
    @media screen and (max-width: 768px) {
      width: 100%;
    }

    .background-bike {
      transform: scale(-2, 2) rotate(-20deg);
      overflow: hidden;
      border: none !important;
      filter: invert(88%) sepia(55%) saturate(2873%) hue-rotate(312deg)
        brightness(101%) contrast(97%);
      position: absolute;
      width: 20%;
      right: -5%;
      top: 50%;
      stroke: transparent;
      stroke-width: 0px;
      &.head-img {
        top: calc(50% + 500px);
      }
    }
  }

  .page-content {
    z-index: 2;
    padding: 0 8%;
    & > * {
      max-width: 100%;
    }
    // padding: 1em 2em;

    @media screen and (max-width: 768px) {
      padding: 1em 1em;
    }
    height: 100%;
  }
}

.menu-content-container {
  display: flex;
  flex-direction: row;
}
