.wysiwyg-wrapper {
  background-color: white;
  border: 1px solid black;
  min-height: 300px;
  display: flex;
  flex-direction: column;

  .rdw-editor-main {
    flex: 1;
  }
}

.jodit-toolbar-button {
  &_font,
  &_fontsize,
  &_print,
  &_fullsize,
  &_about,
  &_classSpan,
  &_selectall {
    display: none !important;
  }
}
