{% extends 'base.html.twig' %}
    
 {% block title %}La roue tourne{% endblock %}
    
 {% block body %}
    <script>
        window.BASE_URL = "{{baseURL}}"
    </script>
     <div id="root"></div>
    
 {% endblock %}