@import 'variables.scss';

@import './generics/capitalize.scss';
@import './generics/clickable.scss';
@import './generics/informations.scss';
@import './generics/forms.scss';

@import './specifics/admin.scss';
@import './specifics/content.scss';
@import './specifics/footer.scss';
@import './specifics/header.scss';
@import './specifics/medias.scss';

body {
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  margin: 0;
  cursor: url('../imgs/rsz_92602.png') 4 12, auto;
  background-color: $backgroundColor;
  min-height: 100vh;
}

.app-root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
