$primaryColor: #178f96;
$dangerColor: #c82333;
$darkColor: #343a40;

$space: 1em;
$littleSpace: 0.5em;

// $menuBackgroundColor: #d7ccae;
$menuBackgroundColor: #a6220d;
// $backgroundColor: #40322fda;
$backgroundColor: #d7ccae;
$contentWidth: 75%;
